@import 'tailwindcss';

body,
html,
#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f3f2f2;
  scrollbar-gutter: stable;
  font-family: 'Montserrat';
}
\